<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>

  <h1 style="text-align: center; color: white; font-weight: bold;" class="mt-5">Transaction History</h1>

  <table style="color: white;" class="mt-5">
      
  <thead>
      <tr>
          <th>Type</th>&nbsp;
          <th>Amount</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let transaction of transactions">
          <th>{{transaction.type}}</th>&nbsp;
          <th>{{transaction.amount}}</th>
      </tr>
    
  </tbody>


</table>
<a routerLink='/dashboard' style="font-size: large; margin-left: 700px;">Go to home</a>